.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: #00000075;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px;
  max-width: 450px;
  width: 100%;
}

/* Modal Inner Content Styles */
.modal-content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 10px;
  color: #000000;
}

.modal-text {
  color: #000000;
  margin-bottom: 25px;
}

.input-field,
.select-field {
  width: 100%;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.input-field label,
.select-field label {
  width: 120px;
  flex-shrink: 0;
  font-weight: 600;
  color: #333;
  text-align: left;
}

.input-field input,
.input-field select,
.select-field input,
.select-field select {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  height: 40px; /* Ensure consistent height */
  width: 100%; /* Ensure consistent width */
}

.input-field input:focus,
.input-field select:focus,
.select-field input:focus,
.select-field select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px #0077ff5c;
}

.input-field input::placeholder,
.select-field input::placeholder {
  color: #999;
}

/* Validations */
.required::after {
  content: " *";
  color: #dc3545;
}

.input-container {
  width: 100%;
}

.input-container input,
.input-container select {
  width: 100%;
  box-sizing: border-box;
}

.error-text {
  color: #dc3545;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 100%;
  left: 130px;
  margin-top: 5px;
  white-space: nowrap;
}

/* Buttons */
.modal-btns {
  display: flex;
  gap: 10px;
}

.create-product {
  font-size: 14px;
  font-weight: bold;
  background-color: #019c16;
  color: #ffffff;
  margin-right: auto;
  margin-top: 3%;
  display: block;
  transition: background-color 0.3s ease;
  height: 40px;
}

.create-product:hover {
  background-color: #007d11;
  border-color: transparent;
}

.modal-save-btn,
.modal-cancel-btn,
.modal-delete-btn {
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  height: 40px;
  margin: 0 5px;
}

.modal-save-btn {
  background-color: #007bff;
  color: #ffffff;
}

.modal-save-btn:hover {
  background-color: #0056b3;
  border-color: transparent;
}

.modal-cancel-btn {
  background-color: #5d5d5d;
  color: #ffffff;
}

.modal-cancel-btn:hover {
  background-color: #363636;
  border-color: transparent;
}

.modal-delete-btn {
  background-color: #f10101;
  color: #ffffff;
}

.modal-delete-btn:hover {
  background-color: #b40000;
  border-color: transparent;
}

@media (max-width: 640px) {
}